/* Import Bootstrap from CDN for quick styling */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

:root{
	--bs-body-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

html, body, #root, #__next {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--bs-body-font-family);
}

.container-app {
	padding-top: 2rem;
	padding-bottom: 3rem;
}
